COLLABORA_DOMAIN=nextcloud\\.example\\.local
COLLABORA_VIRTUAL_HOST=office.example.local
COLLABORA_LETSENCRYPT_HOST=office.example.local
LETSENCRYPT_EMAIL=admin@example.local
COLLABORA_ADMIN_USER=admin
COLLABORA_ADMIN_PASSWORD=change-me
COLLABORA_EXTRA_PARAMS=--o:ssl.enable=false --o:ssl.termination=true